<h4>Assign Ticket</h4>

<hr/>

<%= form_for @ticket do |f| %>

  <p><%= f.label :assigned_to %>
  <%= f.select :assigned_to, options_from_collection_for_select(@project.users, 'id', 'full_name') %></p>
	
  <p class="submit-button right"><%= f.submit "Assign" %></p>
  
<% end %>
