<% if not @members.empty? %>

<ul id="extra_nav">

  <li><%= link_to 'Add Members', add_member_project_path(@project), :remote => true if can? :add_member, Project %></li>
  
  <li><%= link_to 'Remove Members', remove_member_project_path(@project), :remote => true if can? :remove_member, Project %></li>
  
</ul>


<div id="member_form">

<%= render 'member_list'%>

</div>

<% else %>

<p class="content_error">This project has no members yet. 
<% if can? :add_member, Project %> 
Add one <%= link_to "here", add_member_project_path(@project), :remote => true %>.
<% end %>
</p>

<% end %>
