<div class="grid_12">

<h2 id="title">Projects</h2>

<ul id="content_nav">

  <li><%= link_to "All Projects", projects_path, :id => "selected", :remote => true %></li>
  
  <li><%= link_to "Create Project", new_project_path, :remote => true %></li>
  
</ul>
</div>

<div class="clear"></div>

<div class="page_content grid_12">

<%= render 'list' %>

</div>

