<div class="grid_12">

<h1>Hi <%= current_user.first_name %></h1>

What do you want to do:
<br /><%= link_to "User List", users_path %>
<br /><%= link_to "Go to Project List", projects_path %>
</div>
