<div class="grid_12">

<h1>Welcome <%= current_user.first_name %></h1>
<% if current_user.admin %>
<ul id="admin_nav">
  <li><%= link_to "Manage Users", users_path, :id => "manage_users" %></li>
  <li><%= link_to "Manage Projects", projects_path, :id => "manage_proj" %></li>
</ul>

<% end %>
  <% unless current_user.projects.empty? %>
<div class="clearfix"></div>

<div>
    <h3>Your Projects</h3>
  <%= render 'projects/list' %>

  <% else %>

  <p>You have no projects yet.</p>

  <% end %>
</div>
</div>
